body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  line-height: 1.5rem;
}

#portal div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 200px;
  background-color: green;
  opacity: 0.9;
  text-align: center;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: center;
  background-color: #ccc;
  padding: 20px;
}

h1,
h2,
h3 {
  margin: 3px;
  padding: 0;
}

h1 {
  text-decoration: underline;
}

button {
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer;
}

table,
tr,
td {
  border: solid 1px;
}

.experiment {
  background-color: lightyellow;
  padding: 20px;
  margin-top: 10px;
}

.entity {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.entity h2,
.entity h3 {
  flex: 0 0 100%;
}

.entity > div {
  border: solid 1px black;
  margin: 5px;
  padding: 5px;
  min-width: 250px;
}

.turnSquare {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 50px;
  color: #fff;
  text-align: center;
  transform: rotate(0deg);
}

.turnSquare.left {
  animation: rollLeft 2s infinite linear;
}

.turnSquare.right {
  animation: rollRight 2s infinite linear;
}

@keyframes rollLeft {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rollRight {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.foldDiv {
  background-color: #ccc;
  width: 300px;
  padding: 5px;
  transition: height 1s;
}

.foldDiv.up {
  height: 50px;
  overflow: hidden;
}

.foldDiv.down {
  height: 200px;
  overflow: scroll;
}
